@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #eee;
  --secondary: #444;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 0.25rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 0.25rem;
  border: 2px solid var(--primary);
}

.content-wrapper {
  height: calc(100vh - 5rem);
}
